<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chat example</title>
    {{ asset "application.css" }}
  </head>
  <body>
    {{ asset "vendor.js" }}
    {{ asset "application.js" }}
    <textarea id="message"></textarea>
    <button id="send">Send</button>
    <div id="messages"></div>
  </body>
</html>
